@charset 'utf-8';
*{
    margin:0;padding:0;
    box-sizing: border-box;
}
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
body{font-size:16px;font-family:微软雅黑;}
ul,ol,dl,li{font-style:none;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
u,a{text-decoration:none;}
a{color:#000;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
input{border:none;}
form input{outline:none;}
img{display:block;border:none;}
li{list-style:none;}
.clearfix:after{
content:'';
clear:both;
display:block;
height:0;
overflow:hidden;
visibility:hidden;			
}

.fl{float:left;}
.fr{float:right;}

.clearfix{zoom:1;}
